* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black !important;
}
header {
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

a {
    text-decoration: none !important;  
    padding: 20px;
}
a:hover {
    text-decoration: none !important;
    color: black !important;
}



.mainGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.left{
    grid-column-start: 1;
    grid-column-end: 2;
}

#main {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.right{
    grid-column-start: 3;
    grid-column-end: 4;
}

#back{
    position: fixed;
    z-index: 1000;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}
